.carousel-steps {
    position: relative;
    overflow: hidden;
  
    width: calc(100vw - 40px);
    padding: 0 0 64px 0;
    margin: 0 0 123px 0;
  
    @media (min-width: 768px) {
      overflow: visible;
      width: 100%;
      padding: 0;
    }
  
    @media (min-width: 1200px) {
      margin: 0 0 200px 0;
    }
  }
  
  .carousel-steps__controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    @media (min-width: 768px) {
      display: none;
    }
  }
  
  .carousel-steps__prev,
  .carousel-steps__next {
    position: relative;
    width: 36px;
    height: 36px;
    margin: 0 13px;
  
    font-size: 18px;
    color: #ffffff;
  
    background-color: #313131;
  
    border: none;
    border-radius: 50%;
    cursor: pointer;
  
    transition: background-color 0.3s ease;
  
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  
      width: 20px;
      height: 20px;
  
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  
    &:hover {
      background-color: #fbce51;
    }
  
    &:active {
      opacity: 0.3;
    }
  
    &:focus-visible {
      outline: none;
      opacity: 0.6;
    }
  }
  
  .carousel-steps__prev::after {
    background-image: url("../../assets/icons/carousel-arrow-left.svg");
  }
  
  .carousel-steps__next::after {
    background-image: url("../../assets/icons/carousel-arrow-right.svg");
  }
  
  .carousel-steps__prev.carousel-steps__arrow--disabled,
  .carousel-steps__next.carousel-steps__arrow--disabled {
    background-color: #d9d9d9;
    pointer-events: none;
  }
  
  .carousel-steps__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  .carousel-steps__dot {
    width: 10px;
    height: 10px;
    margin: 0 3px;
  
    background-color: #d9d9d9;
    border-radius: 50%;
  
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .carousel-steps__dot--active {
    background-color: #313131;
  }
  